.new {
    width: 90%;
    display: flex;
  
    .newContainer {
      // flex: 6;
  
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        align-items: center;
  
        h1 {
          color: rgb(14, 1, 1);
          font-size: 20px;
          align-items: center;
        }
  
        .left {
          flex: 1;
          text-align: center;
  
        }
  
        .right {
          flex: 2;
          // align-items: center;
  
          form {
            // display: flex;
            // flex-wrap: wrap;
            gap: 100px;
            // justify-content: space-around;
  
            .formInput {
              width: 40%;
  
              label {
                display: flex;
                // align-items: center;
                gap: 10px;
  
                .icon {
                  cursor: pointer;
                }
              }
  
              input {
                width: 90%;
                padding: 15px;
                border: none;
                border-bottom: 10px solid gray;
              }
            }
  
            button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: teal;
              color: white;
              font-weight: bold;
              cursor: pointer;
              margin-top: 10px;
  
              &:disabled{
                background-color: rgba(3, 92, 92, 0.322);
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
  