.u-section-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-1 .u-video-1 {
  height: 370px;
  width: 679px;
  margin: 75px 212px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 73px 242px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    margin-right: 41px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-video-1 {
    height: 294px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-video-1 {
    height: 185px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 88px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2002px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  width: 803px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 803px;
  margin: 29px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 334px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  width: 803px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1984px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 316px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1867px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 199px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1158px;
}

.u-section-3 .u-list-1 {
  width: 966px;
  grid-template-rows: auto auto auto;
  margin: 143px auto 60px 75px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 955px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 56px 130px 0 349px;
}

.u-section-3 .u-icon-1 {
  height: 87px;
  width: 145px;
  margin: 8px auto 0 46px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: -51px 46px 0 295px;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 56px 130px 0 349px;
}

.u-section-3 .u-icon-2 {
  height: 87px;
  width: 145px;
  margin: 8px auto 0 46px;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: -51px 46px 0 295px;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 56px 130px 0 349px;
}

.u-section-3 .u-icon-3 {
  height: 87px;
  width: 145px;
  margin: 8px auto 0 46px;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: -51px 46px 0 295px;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 56px 130px 0 349px;
}

.u-section-3 .u-icon-4 {
  height: 87px;
  width: 145px;
  margin: 8px auto 0 46px;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: -51px 46px 0 295px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    height: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 117px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -52px;
    margin-right: 33px;
    margin-left: 282px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 117px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -52px;
    margin-right: 33px;
    margin-left: 282px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 117px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -52px;
    margin-right: 33px;
    margin-left: 282px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 117px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -52px;
    margin-right: 33px;
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 7px;
    margin-left: 226px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
    margin-left: 226px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 7px;
    margin-left: 226px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 7px;
    margin-left: 226px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 53px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 115px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 53px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 115px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 53px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 1023px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1043px;
}

.u-section-4 .u-container-layout-1 {
  padding: 11px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 35px 35px 0;
}

.u-section-4 .u-image-1 {
  width: 539px;
  height: 285px;
  margin: 88px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 129px auto 0 28px;
}

.u-section-4 .u-image-2 {
  width: 500px;
  height: 300px;
  margin: 35px 35px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1043px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 56px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 16px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 860px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 248px;
  }

  .u-section-4 .u-image-2 {
    width: 470px;
    height: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 860px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 190px;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    height: 216px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 179px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 204px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 61px 722px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 0 0 51px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 829px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 18px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 13px;
}

.u-section-5 .u-text-3 {
  margin: 0 13px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 18px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 13px;
}

.u-section-5 .u-text-5 {
  margin: 0 13px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 18px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-text-6 {
  margin: 20px auto 0 13px;
}

.u-section-5 .u-text-7 {
  margin: 0 13px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 18px;
}

.u-section-5 .u-image-4 {
  height: 213px;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-text-8 {
  margin: 20px auto 0 13px;
}

.u-section-5 .u-text-9 {
  margin: 0 13px;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 18px;
}

.u-section-5 .u-image-5 {
  height: 213px;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-text-10 {
  margin: 20px auto 0 13px;
}

.u-section-5 .u-text-11 {
  margin: 0 13px;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 18px;
}

.u-section-5 .u-image-6 {
  height: 213px;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-text-12 {
  margin: 20px auto 0 13px;
}

.u-section-5 .u-text-13 {
  margin: 0 13px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 522px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 684px;
  }

  .u-section-5 .u-image-1 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-6 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 302px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1179px;
  }

  .u-section-5 .u-image-1 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 122px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2506px;
}

.u-section-6 .u-text-1 {
  margin: 58px 465px 0 385px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  width: 827px;
  margin: 40px auto 0;
}

.u-section-6 .u-list-1 {
  width: 939px;
  grid-template-rows: auto auto auto;
  margin: 32px auto 6px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 2727px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 2px;
}

.u-section-6 .u-image-1 {
  width: 330px;
  height: 189px;
  margin: 118px auto 0 32px;
}

.u-section-6 .u-group-1 {
  width: 445px;
  min-height: 318px;
  height: auto;
  margin: -192px 0 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-3 {
  margin: 34px -31px 0 31px;
}

.u-section-6 .u-text-4 {
  margin: 11px 31px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 2px;
}

.u-section-6 .u-image-2 {
  width: 330px;
  height: 189px;
  margin: 118px auto 0 32px;
}

.u-section-6 .u-group-2 {
  width: 445px;
  min-height: 318px;
  height: auto;
  margin: -192px 0 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-5 {
  margin: 34px -31px 0 31px;
}

.u-section-6 .u-text-6 {
  margin: 11px 31px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px 2px;
}

.u-section-6 .u-image-3 {
  width: 330px;
  height: 189px;
  margin: 118px auto 0 32px;
}

.u-section-6 .u-group-3 {
  width: 445px;
  min-height: 318px;
  height: auto;
  margin: -192px 0 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-7 {
  margin: 34px -31px 0 31px;
}

.u-section-6 .u-text-8 {
  margin: 11px 31px 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 30px 2px;
}

.u-section-6 .u-image-4 {
  width: 330px;
  height: 189px;
  margin: 118px auto 0 32px;
}

.u-section-6 .u-group-4 {
  width: 445px;
  min-height: 318px;
  height: auto;
  margin: -192px 0 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-9 {
  margin: 34px -31px 0 31px;
}

.u-section-6 .u-text-10 {
  margin: 11px 31px 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 0 30px 2px;
}

.u-section-6 .u-image-5 {
  width: 330px;
  height: 189px;
  margin: 118px auto 0 32px;
}

.u-section-6 .u-group-5 {
  width: 445px;
  min-height: 318px;
  height: auto;
  margin: -192px 0 0 auto;
}

.u-section-6 .u-container-layout-10 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-11 {
  margin: 34px -31px 0 31px;
}

.u-section-6 .u-text-12 {
  margin: 11px 31px 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 0 30px 2px;
}

.u-section-6 .u-image-6 {
  width: 330px;
  height: 189px;
  margin: 118px auto 0 32px;
}

.u-section-6 .u-group-6 {
  width: 445px;
  min-height: 318px;
  height: auto;
  margin: -192px 0 0 auto;
}

.u-section-6 .u-container-layout-12 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-13 {
  margin: 34px -31px 0 31px;
}

.u-section-6 .u-text-14 {
  font-weight: 700;
  margin: 11px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 285px;
    margin-right: 365px;
    width: 210px;
  }

  .u-section-6 .u-image-1 {
    height: 188px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-image-2 {
    height: 188px;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-image-3 {
    height: 188px;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }

  .u-section-6 .u-image-4 {
    height: 188px;
  }

  .u-section-6 .u-group-4 {
    height: auto;
  }

  .u-section-6 .u-image-5 {
    height: 188px;
  }

  .u-section-6 .u-group-5 {
    height: auto;
  }

  .u-section-6 .u-image-6 {
    height: 188px;
  }

  .u-section-6 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 175px;
    margin-right: 255px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-1 {
    min-height: 282px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-2 {
    min-height: 282px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-3 {
    min-height: 282px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-4 {
    min-height: 282px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-5 {
    min-height: 282px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-11 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-6 {
    min-height: 282px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 85px;
    margin-right: 165px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 50px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 320px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 320px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    width: 320px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-5 {
    width: 320px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    width: 320px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1795px;
}

.u-section-7 .u-text-1 {
  margin: 38px auto 0 284px;
}

.u-section-7 .u-gallery-1 {
  height: 819px;
  width: 706px;
  margin: 38px auto 0 217px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  transition-duration: 1s;
  padding: 28px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  transition-duration: 1s;
  padding: 28px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  transition-duration: 1s;
  padding: 28px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: -93px;
  width: 40px;
  height: 40px;
  right: auto;
  background-image: none;
  padding: 10px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  background-image: none;
  padding: 10px;
}

.u-section-7 .u-image-1 {
  width: 1115px;
  height: 719px;
  margin: 121px auto 21px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 218px;
  }

  .u-section-7 .u-gallery-1 {
    margin-left: 14px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 464px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1424px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 164px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 480px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 219px;
    margin-left: 400px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 657px;
}

.u-section-8 .u-text-1 {
  margin: 71px 1010px 0 0;
}

.u-section-8 .u-tabs-1 {
  min-height: 468px;
  margin-top: 25px;
  margin-bottom: 54px;
  height: auto;
}

.u-section-8 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-4 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-8 .u-tab-pane-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 8px;
}

.u-section-8 .u-text-3 {
  line-height: 1.8;
  font-size: 1.875rem;
  margin: 6px 14px 0;
}

.u-section-8 .u-tab-pane-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  line-height: 1.8;
  font-size: 1.875rem;
  margin: 48px 39px 0 6px;
}

.u-section-8 .u-tab-pane-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.875rem;
  margin: 76px 88px 0 60px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  font-size: 1.875rem;
  margin: 46px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-top: 62px;
    margin-right: 810px;
    margin-left: 14px;
  }

  .u-section-8 .u-tabs-1 {
    margin-top: 39px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-top: 132px;
    margin-right: 590px;
  }

  .u-section-8 .u-tabs-1 {
    margin-top: -31px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-top: 239px;
    margin-right: 410px;
  }

  .u-section-8 .u-tabs-1 {
    margin-top: -138px;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-top: 564px;
    margin-right: 210px;
  }

  .u-section-8 .u-tabs-1 {
    margin-top: -451px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-9 .u-text-1 {
  margin: 46px auto 0 16px;
}

.u-section-9 .u-image-1 {
  width: 928px;
  height: 395px;
  margin: 16px 81px 0 auto;
}

.u-section-9 .u-image-2 {
  width: 955px;
  height: 457px;
  margin: 18px 81px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 25px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-2 {
    width: 940px;
    height: 450px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 306px;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    width: 720px;
    height: 345px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 230px;
  }

  .u-section-9 .u-image-2 {
    width: 540px;
    height: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 145px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 163px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 893px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto 0 434px;
}

.u-section-10 .u-gallery-1 {
  height: 567px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-left: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-left: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-left: 130px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 618px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 31px 644px 0 59px;
}

.u-section-11 .u-text-2 {
  margin: -29px 80px 0 753px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1140px;
  margin: 10px 0 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  margin: 80px auto 0 205px;
}

.u-section-11 .u-text-4 {
  margin: -26px 348px 60px auto;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 503px;
    margin-left: 147px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 633px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 287px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 283px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 413px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 103px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 371px;
    margin-left: 233px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -390px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 75px;
    margin-left: 154px;
  }

  .u-section-11 .u-text-4 {
    margin-top: -20px;
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 93px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 33px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 97px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 104px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 887px;
}

.u-section-12 .u-image-1 {
  width: 398px;
  height: 245px;
  margin: 147px auto 0 85px;
}

.u-section-12 .u-image-2 {
  width: 439px;
  height: 245px;
  transition-duration: 0.5s;
  margin: -245px 24px 0 auto;
}

.u-section-12 .u-image-3 {
  width: 505px;
  height: 245px;
  transition-duration: 0.5s;
  margin: 125px auto 60px 289px;
}

@media (max-width: 991px) {
  .u-section-12 .u-image-3 {
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-image-3 {
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 209px;
    margin-left: 0;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 190px;
    margin-top: -209px;
    margin-right: 0;
  }

  .u-section-12 .u-image-3 {
    width: 340px;
    height: 165px;
    margin-left: 0;
  }
}

.u-section-12 .u-image-2,
.u-section-12 .u-image-2:before,
.u-section-12 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-12 .u-image-2.u-image-2.u-image-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-12 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-12 .u-image-2.u-image-2.u-image-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-12 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-12 .u-image-3,
.u-section-12 .u-image-3:before,
.u-section-12 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-12 .u-image-3.u-image-3.u-image-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-12 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-12 .u-image-3.u-image-3.u-image-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-12 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}.u-section-13 .u-sheet-1 {
  min-height: 1254px;
}

.u-section-13 .u-text-1 {
  margin: 48px auto 0 23px;
}

.u-section-13 .u-table-1 {
  margin-top: 42px;
  margin-bottom: 42px;
}

.u-section-13 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-13 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-13 .u-table-cell-5 {
  background-image: none;
}

.u-section-13 .u-table-cell-9 {
  background-image: none;
}

.u-section-13 .u-table-cell-13 {
  background-image: none;
}

.u-section-13 .u-table-cell-17 {
  background-image: none;
}

.u-section-13 .u-table-cell-21 {
  background-image: none;
}

.u-section-13 .u-table-cell-25 {
  background-image: none;
}

.u-section-13 .u-table-cell-29 {
  background-image: none;
}

.u-section-13 .u-table-cell-33 {
  background-image: none;
}

.u-section-13 .u-table-cell-37 {
  background-image: none;
}

.u-section-13 .u-table-cell-41 {
  background-image: none;
}

.u-section-13 .u-table-cell-45 {
  background-image: none;
}

.u-section-13 .u-table-cell-49 {
  background-image: none;
}

.u-section-13 .u-table-cell-53 {
  background-image: none;
}

.u-section-13 .u-table-cell-57 {
  background-image: none;
}

.u-section-13 .u-table-cell-61 {
  background-image: none;
}

.u-section-13 .u-table-cell-65 {
  background-image: none;
}

.u-block-ef90-35 {
  background-image: none;
}.u-section-14 .u-sheet-1 {
  min-height: 662px;
}

.u-section-14 .u-text-1 {
  margin: 39px auto 0 50px;
}

.u-section-14 .u-list-1 {
  grid-template-rows: auto;
  margin: 39px 0 60px;
}

.u-section-14 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-14 .u-container-layout-1 {
  padding: 20px 15px;
}

.u-section-14 .u-image-1 {
  height: 305px;
  width: 305px;
  margin: 9px auto 0;
}

.u-section-14 .u-text-2 {
  margin: 11px auto 0 65px;
}

.u-section-14 .u-text-3 {
  margin: 20px 9px 0 20px;
}

.u-section-14 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 15px;
  padding: 2px 0;
}

.u-section-14 .u-container-layout-2 {
  padding: 20px 15px;
}

.u-section-14 .u-image-2 {
  height: 305px;
  width: 305px;
  margin: 9px auto 0;
}

.u-section-14 .u-text-4 {
  margin: 11px auto 0 65px;
}

.u-section-14 .u-text-5 {
  margin: 20px 9px 0 20px;
}

.u-section-14 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 15px;
  padding: 2px 0;
}

.u-section-14 .u-container-layout-3 {
  padding: 20px 15px;
}

.u-section-14 .u-image-3 {
  height: 305px;
  width: 305px;
  margin: 9px auto 0;
}

.u-section-14 .u-text-6 {
  margin: 11px auto 0 65px;
}

.u-section-14 .u-text-7 {
  margin: 20px 9px 0 20px;
}

.u-section-14 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 15px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-list-1 {
    margin-top: -26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-14 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-14 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-14 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-list-1 {
    margin-top: -484px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-list-1 {
    margin-top: -979px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-list-1 {
    margin-top: -945px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 750px;
}

.u-section-15 .u-text-1 {
  margin: 41px auto 0 30px;
}

.u-section-15 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0;
}

.u-section-15 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-15 .u-container-layout-1 {
  padding: 19px 26px;
}

.u-section-15 .u-image-1 {
  height: 427px;
  width: 510px;
  margin: 0 0 0 auto;
}

.u-section-15 .u-text-2 {
  margin: 21px auto 0 4px;
}

.u-section-15 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 4px;
  padding: 2px 0;
}

.u-section-15 .u-container-layout-2 {
  padding: 19px 26px;
}

.u-section-15 .u-image-2 {
  height: 427px;
  width: 510px;
  margin: 0 0 0 auto;
}

.u-section-15 .u-text-3 {
  margin: 21px auto 0 4px;
}

.u-section-15 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 4px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-repeater-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-image-1 {
    height: 268px;
    width: 320px;
  }

  .u-section-15 .u-image-2 {
    height: 268px;
    width: 320px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 262px;
}

.u-section-16 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 67px auto 0 308px;
}

.u-section-16 .u-text-1 {
  margin: -82px 393px 60px auto;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    margin-right: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-1 {
    margin-right: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    margin-right: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-image-1 {
    margin-left: 212px;
  }

  .u-section-16 .u-text-1 {
    margin-right: 117px;
  }
}